@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F9F9F9;
}

.heading {
  font-family:serif;
  font-weight: 600;
  font-style: normal;
  font-size: 120px;
}
.doto{
  font-family: "Doto";
}
.saira{
  font-family: "Saira Stencil One";
}
.noto{
  font-family: "Noto Serif";
}
.poppins{
  font-family: "Poppins";
}
.roboto {
    font-family: "Roboto";
}
.capra{
  font-family: "Caprasimo";
}
.quicksand {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.wiggle {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.wiggle:hover {
  animation: wiggle 0.4s ease-in-out;
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(-5deg); }
  75%  { transform: rotate(4deg); }
  100% { transform: rotate(0deg); }
}
