@import "tailwindcss";
body {
    background-color: #e7e6e6;
}
.imagebg{
  background:url(../public/two.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.heading {
  font-family:serif;
  font-weight: 600;
  font-style: normal;
  font-size: 120px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.wiggle {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.wiggle:hover {
  animation: wiggle 0.4s ease-in-out;
}
.right{
  animation: right 1s ease-in-out;
  animation-fill-mode: both;
}
.left{
  animation: left 1s ease-in-out;
  animation-fill-mode: both;
}
.up{
  animation: up 1s ease-in-out;
  animation-fill-mode: both;
}
.down{
  animation: down 1s ease-in-out;
  animation-fill-mode: both;
}
@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(-5deg); }
  75%  { transform: rotate(4deg); }
  100% { transform: rotate(0deg); }
}

@keyframes right{
  from{
    transform: translateX(-100%)
  }to{
    transform: translateX(0%);
  }
}
@keyframes left{
  from{
    transform: translateX(+100%)
  }to{
    transform: translateX(0%);
  }
}

@keyframes up{
  from{
    transform: translateY(100%)
  }to{
    transform: translateX(0%);
  }
}

@keyframes down{
  from{
    transform: translateY(-100%)
  }to{
    transform: translateX(0%);
  }
}
